body{
    background-color: #EEE2DC;
}
.app {
    display: flex;
    height: 100%;
}

.app > .left, .right {
    text-align: center;
    width: 25%;
    height: 100%;
    background-color: #BAB2B5;
    border: solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.app > .left {
    margin-right: 5px;
}
.app > .right {
    margin-left: 5px;
}
.app > .center {
    width: 50%;
}

.title{
    margin: 0;
    text-align: center;
    background-color: #EEE2DC;
    border: solid;
    margin-bottom: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



.p1 {
    margin: 0;
    margin-left: 10px;
}

.item-list {
    display: flex;
    padding: 10;
}
.center{
    border: solid 1px;
    background-color: #EDC7B7;
    border-radius: 10px;
}
.main{
    background-color: #EEE2DC;
    width: 94%;
    border: solid;
    border-radius:10px;
    margin: 20 2% 0 2%;
    padding: 0 0 0 2%;
    box-shadow: 5px 5px 7px rgba(119, 136, 153, 0.412)
}